*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background: #443b3b;
    font: 14px sans-serif;
}

p{
    color: white;
}

button{
    display: block;
    padding: 20px;
    margin: 20px;
    background-color: rgba(105, 102, 102, 0.2);
    color:  white;
    border: none;

}
button:hover{
    cursor: pointer;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: #444444
}

main{
    display: flex;
}



.styled-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

a:link, a:visited {
    text-decoration: none;
    cursor: pointer;
}



  a{
      color: silver;
  }
  a:hover{
     color: aquamarine; 
  }